@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Variables Globales*/
header {
  height: auto;
  background-image: url(../img/fondoPelota.jpg);
  background-size: cover;
  background-position-y: -170px;
  display: flex;
  flex-direction: column;
  grid-area: header; }
  header .colorNavegador a {
    color: #fcd912; }
  header .logo {
    display: flex;
    width: 520px;
    align-items: center;
    margin-left: 30px;
    padding-top: 50px;
    padding-bottom: 150px; }

/* Header paginas secundarias*/
.headerStore {
  width: 100%;
  background-image: url(../img/pexels-gonzalo-acuña-10923063.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%; }
  .headerStore .subtit {
    color: #E6F5FF;
    font-family: "Rubik Dirt", cursive;
    position: relative;
    top: 100px;
    text-align: center; }

body main .tituloGame {
  color: #E6F5FF;
  font-family: "Rubik Dirt", cursive;
  margin: 80px; }

body main .bloqueGameUno {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-bottom: 50px; }
  body main .bloqueGameUno .parrafoGameUno {
    display: flex;
    flex-direction: column;
    color: #E6F5FF;
    font-family: "Righteous", cursive;
    width: 50%;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 50px; }
  body main .bloqueGameUno .imageGameUno {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: nowrap;
    align-items: center; }
    body main .bloqueGameUno .imageGameUno .imgGame {
      width: 350px;
      border-radius: 100px 0 100px 0;
      box-shadow: 1px 1px 20px #834C69; }

.mainTienda {
  background-color: #33313B; }
  .mainTienda .bloqueGeneral {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto; }
    .mainTienda .bloqueGeneral .bloqueClubes, .mainTienda .bloqueGeneral .bloqueClubes--hover:hover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      margin: 20px;
      border: 1px #7CBD1E transparent;
      border-radius: 15px;
      background-color: #E6F5FF;
      box-shadow: 1px 1px 20px #834C69; }
      .mainTienda .bloqueGeneral .bloqueClubes .escudos, .mainTienda .bloqueGeneral .bloqueClubes--hover:hover .escudos {
        display: flex;
        align-items: center;
        width: 110px;
        height: 110px;
        margin: 10px auto; }
      .mainTienda .bloqueGeneral .bloqueClubes .nombreClub, .mainTienda .bloqueGeneral .bloqueClubes--hover:hover .nombreClub {
        font-family: "Rubik Dirt", cursive;
        color: #33313B;
        text-align: center; }
      .mainTienda .bloqueGeneral .bloqueClubes .description, .mainTienda .bloqueGeneral .bloqueClubes--hover:hover .description {
        font-family: "Righteous", cursive;
        color: #33313B;
        text-shadow: none;
        font-size: 0.8rem;
        margin: 10px; }
    .mainTienda .bloqueGeneral .bloqueClubes--hover:hover {
      transform: scale(1.2); }

.titNoticias {
  color: #E6F5FF;
  font-family: "Rubik Dirt", cursive;
  font-size: 1rem;
  margin: 50px; }

.bloqueNoticias {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #5e416460;
  border-radius: 10px; }
  .bloqueNoticias .subbloqueNoticas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
    .bloqueNoticias .subbloqueNoticas .imgNoticias {
      width: 150px;
      border-radius: 100%;
      margin-right: 20px; }
    .bloqueNoticias .subbloqueNoticas .listNoticias {
      display: block;
      padding-top: 40px; }
      .bloqueNoticias .subbloqueNoticas .listNoticias h3 {
        color: #E6F5FF;
        font-family: "Rubik Dirt", cursive; }
      .bloqueNoticias .subbloqueNoticas .listNoticias p {
        color: #E6F5FF;
        font-family: "Righteous", cursive; }

.bloqueNoticiasDos {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #93596d52;
  border-radius: 10px; }
  .bloqueNoticiasDos .subbloqueNoticas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
    .bloqueNoticiasDos .subbloqueNoticas .imgNoticias {
      width: 150px;
      border-radius: 100%;
      margin-right: 20px; }
    .bloqueNoticiasDos .subbloqueNoticas .listNoticias {
      display: block;
      padding-top: 40px; }
      .bloqueNoticiasDos .subbloqueNoticas .listNoticias h3 {
        color: #E6F5FF;
        font-family: "Rubik Dirt", cursive; }
      .bloqueNoticiasDos .subbloqueNoticas .listNoticias p {
        color: #E6F5FF;
        font-family: "Righteous", cursive; }

form {
  width: 100%; }
  form label {
    color: #FCF9F9;
    margin: 20px;
    font-size: 15px;
    font-family: 'Righteous', cursive; }
  form input {
    text-align: left;
    width: 50%; }

footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #33313b, #42394b, #554058, #6b4662, #834c69);
  grid-area: footer;
  align-items: center; }
  footer .logoFooter {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 250px; }
  footer .bloqueIconos {
    display: block;
    text-align: center; }
    footer .bloqueIconos .icoRedes {
      width: 40px;
      margin: 20px; }

body {
  /* pagina principal */ }
  body .containerPropio {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
    body .containerPropio main {
      height: auto;
      padding-top: 50px;
      background-color: #33313B;
      display: flex;
      grid-area: main;
      flex-direction: column; }
      body .containerPropio main section h2 {
        font-family: "Rubik Dirt", cursive;
        color: #E6F5FF;
        margin-left: 30px;
        font-size: 40px; }
      body .containerPropio main section .pasoUnoTres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        height: 300px;
        text-align: left;
        margin: 20px auto auto auto; }
        body .containerPropio main section .pasoUnoTres .imgNumeros {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100px;
          margin: 50px; }
        body .containerPropio main section .pasoUnoTres .textoDePasoUno {
          font-family: "Righteous", cursive;
          color: #E6F5FF;
          text-shadow: 1px 1px #1E5F74;
          display: flex;
          width: 440px; }
      body .containerPropio main section .pasoDos {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 10px auto;
        text-align: left; }
        body .containerPropio main section .pasoDos .imgNumeros {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100px;
          margin: 50px; }
        body .containerPropio main section .pasoDos .textoDePasoUno {
          font-family: "Righteous", cursive;
          color: #E6F5FF;
          text-shadow: 1px 1px #1E5F74;
          display: flex;
          width: 440px; }
  @media screen and (min-width: 768px) and (max-width: 1030px) {
    body .containerPropio {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header header" "main main" "footer footer";
      gap: 10px;
      background-color: #33313B;
      /* Pagina principal*/
      /* header Pag secundarias */
      /* Main paginas secundarias */ }
      body .containerPropio header {
        background-size: cover;
        background-position-y: 0; }
        body .containerPropio header .logo {
          position: relative;
          width: 410px;
          padding-top: 150px; }
        body .containerPropio header .titlPrinc {
          margin-left: 30px;
          margin-bottom: 60px; }
      body .containerPropio .headerStore {
        background-image: url(../img/pexels-gonzalo-acuña-10923063.jpg);
        background-position-x: -50%;
        background-position-y: 60%;
        background-size: cover; }
        body .containerPropio .headerStore .subtit {
          position: relative;
          top: 10px;
          text-align: center; }
      body .containerPropio main .pasoUnoTres {
        height: 200px;
        margin: 20px; }
        body .containerPropio main .pasoUnoTres .imgNumeros {
          width: 80px;
          margin: 30px; }
      body .containerPropio .mainTienda {
        /* Pagina tienda bien ordenada*/
        /* Pagina game*/
        /* Pagina contacto bien ordenada */
        /* Pagina noticias*/ }
        body .containerPropio .mainTienda .tituloGame {
          margin: 65px; }
        body .containerPropio .mainTienda .bloqueGameUno {
          padding-bottom: 50px; }
          body .containerPropio .mainTienda .bloqueGameUno .parrafoGameUno {
            margin: auto 30px; }
        body .containerPropio .mainTienda .titNoticias {
          margin: 0 auto 50px auto; }
        body .containerPropio .mainTienda .bloqueNoticias {
          width: 80%; }
        body .containerPropio .mainTienda .bloqueNoticiasDos {
          width: 80%; } }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    body .containerPropio {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header header" "main main" "footer footer";
      gap: 10px;
      background-color: #33313B;
      /* Pagina principal*/
      /* Header paginas secundarias */
      /* Pagina Tienda esta bien */
      /* Pagina game */
      /* Pagina contacto esta ok */
      /* Pagina noticias */ }
      body .containerPropio header {
        background-position-x: 80%;
        background-position-y: 50%; }
        body .containerPropio header img.logo {
          width: 80%;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 100px auto; }
      body .containerPropio .pasoUnoTres {
        display: block;
        height: 300px;
        margin: 10px; }
        body .containerPropio .pasoUnoTres .imgNumeros {
          width: 80px;
          display: block;
          margin-left: auto;
          margin-right: auto; }
        body .containerPropio .pasoUnoTres .textoDePasoUno {
          width: auto;
          margin: auto 10px; }
      body .containerPropio .pasoDos {
        display: block;
        margin: 10px auto; }
      body .containerPropio .headerStore {
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%; }
        body .containerPropio .headerStore .subtit {
          position: relative;
          top: 10px;
          text-align: center; }
      body .containerPropio .tituloGame {
        margin: 30px; }
      body .containerPropio .bloqueGameUno {
        display: block;
        width: 95%;
        margin: auto;
        padding-bottom: 50px; }
        body .containerPropio .bloqueGameUno .parrafoGameUno {
          width: 90%;
          display: block;
          margin: 10px auto; }
        body .containerPropio .bloqueGameUno .imageGameUno {
          width: auto;
          display: block;
          text-align: center; }
          body .containerPropio .bloqueGameUno .imageGameUno .imgGame {
            width: 250px; }
      body .containerPropio .titNoticias {
        margin: 10px; }
      body .containerPropio .bloqueNoticias {
        width: 95%; }
        body .containerPropio .bloqueNoticias .subbloqueNoticas {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          body .containerPropio .bloqueNoticias .subbloqueNoticas .imgNoticias {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px; }
      body .containerPropio .bloqueNoticiasDos {
        width: 95%; }
        body .containerPropio .bloqueNoticiasDos .subbloqueNoticas {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          body .containerPropio .bloqueNoticiasDos .subbloqueNoticas .imgNoticias {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px; }
      body .containerPropio footer .logoFooter {
        width: 100px; } }
