*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables Globales*/
$titulos_Principales: 'Rubik Dirt', cursive;
$fuente_parrafos: 'Righteous', cursive;
$color_LetrasClaras: #E6F5FF;
$color_LetrasLinks: rgb(252, 217, 18);

@import "header";
@import "./pagSecundarias/game";
@import "./pagSecundarias/tienda";
@import "./pagSecundarias/pagNoticias";
@import "./pagSecundarias/contacto";
@import "footer";

body{

    /* pagina principal */
    .containerPropio{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 3fr 1fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        ;
        
        main{
            height: auto;
            padding-top: 50px ;
            background-color: #33313B;
            
            display: flex;
            grid-area: main;
            flex-direction: column;

            section{
                h2{
                    font-family: $titulos_Principales;
                    color: $color_LetrasClaras;
                    margin-left: 30px;
                    font-size: 40px;
                }
                .pasoUnoTres{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: right;
                    align-items: center;
                    height: 300px;
                    text-align: left;
                    margin: 20px auto auto auto;

                    .imgNumeros{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 100px;
                        margin: 50px;
                    }
                    .textoDePasoUno{
                        font-family: $fuente_parrafos;
                        color: $color_LetrasClaras;
                        text-shadow: 1px 1px #1E5F74;
                        display:flex;
                        width: 440px;
                    } 
                }   
                .pasoDos{
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    margin: 10px auto;
                    text-align: left;

                    .imgNumeros{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 100px;
                        margin: 50px;
                    }
                    .textoDePasoUno{
                        font-family: $fuente_parrafos;
                        color: $color_LetrasClaras;
                        text-shadow: 1px 1px #1E5F74;
                        display:flex;
                        width: 440px;
                    } 
                }
            }
        } 
    }
    @import "quaries";
}




