*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables Globales*/
$titulos_Principales: 'Rubik Dirt', cursive;
$fuente_parrafos: 'Righteous', cursive;
$color_LetrasClaras: #E6F5FF;
$color_LetrasLinks: rgb(252, 217, 18);

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@import "header";
@import "./pagSecundarias/index";
@import "./pagSecundarias/game";
@import "./pagSecundarias/tienda";
@import "./pagSecundarias/pagNoticias";
@import "./pagSecundarias/contacto";
@import "footer";

body{

    /* pagina principal */
    .containerPropio{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        ;
    }
    @import "quaries";
}




