form{
    width: 60%;
    label{
        color: #FCF9F9;
        margin: 20px;
        font-size: 15px;
        font-family: 'Righteous', cursive;
    }
    input{
        text-align: left;
        width: 50%;
    }
}