body{
        main{
    
            .tituloGame{
                color: $color_LetrasClaras;
                font-family: $titulos_Principales;
                margin: 40px;
            }
            .bloqueGameUno{
                @include flex-center-row;
                align-items: center;
                width: 90%;
                margin: auto;
                padding-bottom: 50px;
    
                .parrafoGameUno{
                    @include flex-column;
                    color: $color_LetrasClaras;
                    font-family: $fuente_parrafos;
                    width: 50%;
                    flex-wrap: nowrap;
                    margin-right: 50px;
                }
                .imageGameUno{
                    @include flex-column;
                    width: 50%;
                    flex-wrap: nowrap;
                    align-items: center;
    
                    .imgGame{
                        width: 350px;
                        border-radius: 100px 0 100px 0;
                        box-shadow: 1px 1px 20px #834C69;
                    }
                }
            }
            h2{
                padding-top: 30px;
                text-align: center;
                color: $color_LetrasClaras;
                font-family: $titulos_Principales;
            }
            .bloque_metodosPagos{
                @include flex-center-row;
                margin: 40px auto;

                .mercadolibre{
                    width: 100px;
                }
                .metamask{
                    width: 200px;
                }
            }
        }
    }