.mainTienda{
    background-color: #33313B;

    .bloqueGeneral{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;

        .bloqueClubes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            width: 250px;
            margin: 20px;
            border: 1px #7CBD1E transparent;
            border-radius: 15px;
            background-color: #E6F5FF;
            box-shadow: 1px 1px 20px #834C69;

            .escudos{
                display: flex;
                align-items: center;
                width: 110px;
                height: 110px;
                margin: 10px auto;
            }
            .nombreClub{
                font-family: $titulos_Principales;
                color: #33313B;
                text-align: center;
            }
            .description{
                font-family: $fuente_parrafos;
                color: #33313B;
                text-shadow: none;
                font-size: 0.8rem;
                margin: 10px;
            }
        }
    }
}